*{
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 body{
  background-color: rgb(44, 42, 42);
  color: #FFF;
 }

 a{
  text-decoration: nome;
  color: #F7D354;
  transition: .5s;
 }

 a:hover{
  color: #b8930c;
 }